html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.layout-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered; 
}

.content-container {
 
    width: 100%;
    padding: 20px;
    margin: 0 auto;

}

.logoImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: auto;
    z-index:3
}