@inherits LayoutComponentBase

<div class="layout-container">
    <div class="content-container">
        @Body

        <img src="images/LogoTrans.png" alt="Imagen logo" class="logoImage">
        
        
       
    </div>
</div>
             
    

